<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <style>
      body {
        padding-top: 100px;
      }
      .container {
        padding: 0 20px;
      }
      .notebook-links > a {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="container is-max-desktop">
      <div class="columns">
        <div class="column content">
          <h1>Projekt EWD</h1>
          <p>Lista poruszonych zagadnień:</p>
          <ul>
            <li>Stosunek wydatków na alkohol i papierosy do ilości świadczeń pobieranych przez osoby w jednym gospodarstwie domowym</li>
            <li>Gdzie i kiedy urodziło się najmniej i najwięcej dzieci?</li>
            <li
              >Wydatki na kulturę i edukację w stosunku do dochodów</li
            >
            <li>Analiza wydatków na jedzenie w Polsce</li>
            <li
              >Struktura bezrobocia wg płci na przestrzeni lat</li
            >
            <li>Struktura przychodów Polaków na przestrzeni lat</li>
            <li
              >Analiza pobieranych świadczeń</li
            >

            <li
              >Analiza posiadanych dóbr</li
            >
            <li
              >Zmiana populacji w powiatach na przestrzeni lat</li
            >
            <li>Analiza regionów pod względem wieku ludności</li>
            <li>Czy programy socjalne mają wpływ na bezrobocie</li>
            <li>Czy programy socjalne mają wpływ na przyrost naturalny</li>
          </ul>
          <p>
            Model:
          </p>
          <ul>
            <li>Prognozy dochodów na 2021</li>
          </ul>
        </div>
        <div class="column content">
          <h4>Lista notatników</h4>
          <div class="box">
            <ol class="notebook-links">
              NOTEBOOKS
            </ol>
          </div>
          <h3> Autorzy </h3>
          <ul>
            <li>Patryk Kierzkowski, s20965</li>
            <li>Bartłomiej Kletkiewicz, s25871</li>
            <li>Michał Kozłowski, s25873</li>
            <li>Jakub Prusakiewicz, s26367</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
